# Web framework
fastapi==0.128.0
uvicorn==0.40.0
starlette==0.50.0

# Data validation
pydantic==2.12.5
pydantic_core==2.41.5
annotated-types==0.7.0

# Configuration
PyYAML==6.0.3
python-dotenv==1.2.1

# HTTP client
requests==2.32.5
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
urllib3==2.6.3

# Database
mysql-connector-python==9.5.0
sqlalchemy==2.0.46

# Uvicorn dependencies
anyio==4.12.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
click==8.3.1
watchfiles==1.1.1
websockets==16.0

# Common
typing_extensions==4.15.0
typing-inspection==0.4.2
packaging==26.0
setuptools==80.10.2
shellingham==1.5.4
annotated-doc==0.0.4
typer-slim==0.21.1

# Authentication
PyJWT==2.8.0
bcrypt==4.1.2

# Test framework
pytest==9.0.2
pytest-asyncio==1.3.0